/* Plugin: Octopress Littlefoot */
[class^=littlefoot] {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

.littlefoot-container {
  position: relative;
  display: inline-block; }

.littlefoot-button {
  border: none;
  padding: 0;
  background: none;
  margin: 0;
  outline: none;
  cursor: pointer;
  font-size: .65em;
  line-height: .65;
  vertical-align: middle;
  color: inherit;
  -webkit-transition-property: opacity, color;
          transition-property: opacity, color;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  opacity: .3; }

.littlefoot-button:hover, .is-open .littlefoot-button {
  opacity: .5; }

.littlefoot-graphic {
  height: 1em; }

.littlefoot-graphic-path {
  fill: currentColor; }

.littlefoot-popover {
  position: absolute;
  z-index: 10;
  opacity: 0;
  font-size: 13px;
  color: #fff;
  -webkit-transform: translate(0, 0.4em) scale(0.9, 0.9);
      -ms-transform: translate(0, 0.4em) scale(0.9, 0.9);
          transform: translate(0, 0.4em) scale(0.9, 0.9);
  -webkit-transition-property: opacity, -webkit-transform;
          transition-property: opacity, transform;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }

.open-down .littlefoot-popover {
  top: 2em; }

.open-up .littlefoot-popover {
  bottom: 2em; }

.littlefoot-popover.is-visible {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1, 1);
      -ms-transform: translate(0, 0) scale(1, 1);
          transform: translate(0, 0) scale(1, 1); }

.littlefoot-popover.is-hidden {
  display: none; }

.littlefoot-popover:after {
  position: absolute;
  left: 2px;
  z-index: -1;
  display: block;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px; }

.littlefoot-popover:before {
  position: absolute;
  left: -1px;
  z-index: 1; }

.is-open .littlefoot-popover:before, .is-open .littlefoot-popover:after {
  content: ""; }

.open-down .littlefoot-popover:before {
  border-bottom: 11px solid rgba(0, 0, 0, 0.8);
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  height: 0;
  width: 0;
  bottom: -.5px; }

.open-up .littlefoot-popover:before {
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
  border-top: 11px solid rgba(0, 0, 0, 0.8);
  height: 0;
  width: 0;
  top: -.5px; }

.open-down .littlefoot-popover:after {
  bottom: -9px; }

.open-up .littlefoot-popover:after {
  top: -9px; }

.littlefoot-footnote {
  position: absolute;
  left: -.5em;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 8px;
  border-radius: .5em; }

.open-down .littlefoot-footnote {
  top: 0; }

.open-up .littlefoot-footnote {
  bottom: 0; }

.littlefoot-footnote-wrapper {
  max-height: 250px;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
  border-radius: .5em; }

.littlefoot-footnote-content, .littlefoot-test {
  width: 40em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.45em;
  padding: 0 1.4em;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

.littlefoot-footnote-content p, .littlefoot-test p {
  margin: 1em 0; }

.littlefoot-test {
  max-width: 500px;
  width: auto;
  display: inline-block; }

.littlefoot-test-wrapper {
  display: inline-block;
  font-size: 13px; }
