@import 'utils';

{% if plugins.octopress-littlefoot.style == 'dark' %}
  $footnote-bg: {{ plugins.octopress-littlefoot.dark.background }};
  $footnote-text: {{ plugins.octopress-littlefoot.dark.text }};
  $footnote-button: {{ plugins.octopress-littlefoot.dark.button }};
{% else %}
  $footnote-bg: {{ plugins.octopress-littlefoot.light.background }};
  $footnote-text: {{ plugins.octopress-littlefoot.light.text }};
  $footnote-button: {{ plugins.octopress-littlefoot.light.button }};
{% endif %}

[class^=littlefoot] {
  box-sizing: border-box;
}

.littlefoot-container {
  position: relative;
  display: inline-block;
}

.littlefoot-button {
  border: none;
  padding: 0;
  background: none;
  margin: 0;
  outline: none;
  cursor: pointer;
  font-size: .65em;
  line-height: .65;
  vertical-align: middle;
  color: $footnote-button;
  transition: {
    property: opacity, color;
    duration: .25s;
    timing-function: ease-out;
  }
  opacity: .3;
  &:hover, .is-open & {
    opacity: .5;
  }
}

.littlefoot-graphic {
  height: 1em;
}

.littlefoot-graphic-path {
  fill: currentColor;
}

.littlefoot-popover {
  position: absolute;
  z-index: 10;
  opacity: 0;
  font-size: 13px;
  color: $footnote-text;
  transform: translate(0, .4em) scale(.9,.9);
  transition: {
    property: opacity, transform;
    duration: .25s;
    timing-function: ease-in-out;
  }

  .open-down & {
    top: 2em;
  }
  .open-up & {
    bottom: 2em;
  }

  &.is-visible {
    opacity: 1;
    transform: translate(0, 0) scale(1,1);
  }

  &.is-hidden {
    display: none;
  }

  &:after {
    position: absolute;
    left: 2px;
    z-index: -1;
    display: block;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    background: transparent;
    box-shadow: rgba(#000, .2) 1px 1px 5px;
  }

  &:before {
    position: absolute;
    left: -1px;
    z-index: 1;
  }

  .is-open &:before, .is-open &:after {
    content: "";
  }

  .open-down &:before {
    @include triangle(up, $footnote-bg, 11px);
    bottom: -.5px;
  }

  .open-up &:before {
    @include triangle(down, $footnote-bg, 11px);
    top: -.5px;
  }

  .open-down &:after {
    bottom: -9px;
  }

  .open-up &:after {
    top: -9px;
  }
}

.littlefoot-footnote {
  position: absolute;
  left: -.5em;
  box-shadow: rgba(#000, .2) 0 3px 8px;
  border-radius: .5em;

  .open-down & {
    top: 0;
  }
  .open-up & {
    bottom: 0;
  }
}

.littlefoot-footnote-wrapper {
  max-height: 250px;
  overflow: auto;
  background: $footnote-bg;
  border-radius: .5em;
}
.littlefoot-footnote-content {
  width: 40em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.45em;
  padding: 0 1.4em;
  p {
    margin: 1em 0;
  }
  box-sizing: border-box;
}

.littlefoot-test {
  @extend .littlefoot-footnote-content;
  max-width: 400px;
  width: auto;
  display: inline-block;
}

.littlefoot-test-wrapper {
  display: inline-block;
  font-size: 13px;
}
