/* Plugin: Octopress Littlefoot */
[class^=littlefoot] {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

body {
  font-size: 20px; }

.littlefoot-container {
  position: relative;
  display: inline-block; }

.littlefoot-button {
  border: none;
  padding: 0;
  background: none;
  margin: 0;
  outline: none;
  cursor: pointer;
  font-size: .75em;
  vertical-align: middle;
  color: inherit;
  -webkit-transition-property: opacity, color;
          transition-property: opacity, color;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  opacity: .3; }

.littlefoot-button:hover, .is-open .littlefoot-button {
  opacity: .5; }

.littlefoot-graphic {
  width: 2em; }

.littlefoot-graphic-path {
  fill: currentColor; }

.littlefoot-popover {
  position: absolute;
  z-index: 10;
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
      -ms-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  -webkit-transition-property: opacity, -webkit-transform;
          transition-property: opacity, transform;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }

.open-down .littlefoot-popover {
  top: 1.6em; }

.open-up .littlefoot-popover {
  bottom: 1.6em; }

.littlefoot-popover.is-visible {
  opacity: 1;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1); }

.littlefoot-popover.is-hidden {
  display: none; }

.littlefoot-popover-triangle {
  position: absolute;
  top: -.7em;
  height: .7em;
  width: 2.2em;
  overflow: hidden; }

.littlefoot-popover-triangle:after, .littlefoot-popover-triangle:before {
  position: absolute;
  left: .25em;
  display: block;
  width: 1em;
  height: 1em;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.littlefoot-popover-triangle:after {
  z-index: -1;
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px; }

.littlefoot-popover-triangle:before {
  z-index: 1;
  background: #fff; }

.is-open .littlefoot-popover-triangle:before, .is-open .littlefoot-popover-triangle:after {
  content: ""; }

.open-down .littlefoot-popover-triangle:before, .open-down .littlefoot-popover-triangle:after {
  bottom: -.5em; }

.open-up .littlefoot-popover-triangle:before, .open-up .littlefoot-popover-triangle:after {
  top: -.5em; }

.littlefoot-footnote {
  font-size: 13px;
  color: #444;
  position: absolute;
  left: -.5em;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 8px;
  border-radius: .5em; }

.open-down .littlefoot-footnote {
  top: 0; }

.open-up .littlefoot-footnote {
  bottom: 0; }

.littlefoot-footnote-wrapper {
  max-height: 250px;
  overflow: auto;
  background: #fff;
  border-radius: .5em; }

.littlefoot-footnote-content, .littlefoot-test {
  width: 40em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.45em;
  padding: 0 1.4em;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

.littlefoot-footnote-content p, .littlefoot-test p {
  margin: 1em 0; }

.littlefoot-test {
  max-width: 500px;
  width: auto;
  display: inline-block; }

.littlefoot-test-wrapper {
  display: inline-block;
  font-size: 13px; }
